version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions-minor:
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      npm-development:
        dependency-type: development
        update-types:
          - minor
          - patch
      npm-production:
        dependency-type: production
        update-types:
          - patch
      npm-linters:
        patterns:
          - '@biomejs/*'
          - 'biome'
          - '*stylelint*'
      npm-rollup:
        patterns:
          - 'rollup'
          - 'rollup-*'
      gh-packages:
        patterns:
          - '@actions/*'
          - '@github/*'
