name: 'Update Known Hosts file'
on:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * 1'

permissions:
  contents: write
  pull-requests: write

jobs:
  known-hosts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
      - uses: adam7/platformsh-cli-action@v1.2
        with:
          token: ${{ secrets.PLATFORMSH_CLI_TOKEN }}
      - run: php ./.github/update-known-hosts.php
      - run: mv ./.github/known_hosts . && cp ./known_hosts ./dist/known_hosts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update known_hosts file
          committer:
            github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: hw <github-actions[bot]@users.noreply.github.com>
          signoff: true
          branch: update-known-hosts
          title: Update known_hosts file
          body: |
            This PR updates the known_hosts file with the latest Platform.sh host keys.

            Auto-generated by the Update Known Hosts workflow.
          labels: |
            automated
          delete-branch: true
